* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }

  /* Tasks 1.2, 1.3 */
  
  .card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border: 13px solid blue;
    background-color: yellow;
    padding: 70px;
    margin: 23px;
    font-weight: bold;
  }
  .active {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 130px;
      height: 130px;
      border: 13px solid blue;
      background-color: black;
      padding: 70px;
      margin: 23px;
      color: yellow;
    }

    /* Task 1.4 */

    .fotos {display: flex;
        flex-direction: column; 
        align-items: center;
    }
    .small {
        display: flex;
    }
    .smalls {
        width: 100px;
        height: 100px;
        margin: 5px;
    
    }
    .large { margin-top: 100px;}
    
    #showLarge{
        width: 500px;
        height: 500px;
    }